@import "tailwindcss";

html, body{
    background-color: rgb(28, 1, 55);
    text-align: center;
    color: white;
    font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: h-screen;
    width: w-screen;
    overflow-y: visible;
    margin: 1px;
    padding: 1px;
}
